{% extends "shop/base.html" %}

{% block title %}Thank you{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top: 6%">

	    <div class="card" style="border: 5px solid #008a77;
	    	padding: 5px;  border-radius: 70px; background: #17a2b8;">
	    	<h1 style="text-align: center;">Спасибо за покупку!</h1>
		  <div class="card-body">
		    <p style="text-align: justify; font-size: 20px">Ваш заказ в обработке. В течении 30 минут, менеджер свяжется с Вами для уточнения заказа.
			</p>
		  </div>
		</div>
	    
	</div>
</div>
{% endblock %}